doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#nav
        ul
           li
           a(href="/") Home 
           li
           a(href="/admin") Admin 
           li
           a(href="/info") Detailed information 
           br 
           br
    section#wrapper
      
        block content
        block content2
              