doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      #nav
        ul
           li
           a(href="/") Home 
           li
           a(href="/admin") Admin 
           li
           a(href="/info") Detailed information
    section#wrapper
        block content
        block content2
        footer 
          section.css-table
            section.four-column
              section.cell
                p Mauris porttitor <br />
              