doctype
html
  head
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
  body
         ul
           li
           a(href="/") Home 
           li
           a(href="/admin") Admin 
           li
           a(href="/info") Detailed information 
           br 
           br
    section#wrapper
      
        block content
        block content2
        block content3
        block content4
              